* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', -apple-system, sans-serif;
}

.todo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #5a438442;
  width: 40%;
  min-height: 95%;
  box-shadow: 1px 4px 20px #332f35;
  border-radius: 7.5px;
  border: 1px solid #73598aab;

  &__label {
    width: 100%;
    padding: 5px 0;
    background-color: #4a32637a;
    border-radius: 7.5px 7.5px 0px 0px;
    font-size: 18px;
    color: #121213bd;
    text-align: center;
  }

  &__button {
    // make it with floating
    position: absolute;
    right: 23%;
    background: #9282a4;
    border: 1px solid #9282a9;
    border-radius: 7px;
    padding:0 5px;
  }

  &__body {
    margin: 20px 70px;

    form {
      font-size: 14px;
      padding-bottom: 20px;
      padding-left: 50px;
      border-bottom: 1px solid #73598aab;
    }

    &__all-items {
      padding: 10px;


      li {
        padding: 5px;
        margin: 3px;
        border: 1px solid #ffffff69;
        border-radius: 10px;
        box-shadow: 1px 4px 20px #5a438442;
        display: flex;
        align-items: center;
        font-size: 14px;
        vertical-align: center;




        label.done {
          text-decoration: line-through;
        }


        input.todo__body__item__strike {
          display: none;
        }

        label {
          padding-left: 20px;
          padding-top: 10px;
          cursor: pointer;
          width: 190px;
          height: 30px;


        }
        label::before {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          vertical-align: middle;
          margin-left: -10px;
          margin-right: 10px;
          border-radius: 50%;
          border: 1px solid #351a3e;
          cursor: pointer;
          text-align: center;
          vertical-align: center;
        }

        input.todo__body__item__strike:checked + label:before {
          background-color: #4a32637a;
        }

        button.todo__body__delete {
          background-color: #d3ccdd;
          border: none;
          width: 20px;
          height: 20px;
          display: inline-flex;
          position: absolute;
          right: 18%;
        }
      }
    }
  }
}
